node_modules/
dist/
dist-ssr/
build/
coverage/

.env
.env.local
.env.*.local

*.local

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

test-results/
playwright-report/
blob-report/
playwright/.cache/
